
.App {
  text-align: center;
}

.red {
  color: #dc143c;
}

.green {
  color: #00ff00;
}

.black{
  color: black;
}


.addNewVideoForm{
 width:400px;
    height:300px; 
    align-self:left;
    padding-left: 20px
}